#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_TemerCoind += debian/examples/*
DEB_INSTALL_MANPAGES_TemerCoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix TemerCoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f TemerCoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake TemerCoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/TemerCoind:
	chmod +x $(cdbs_curdestdir)usr/bin/TemerCoind
binary-post-install/TemerCoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/TemerCoin-qt
