[Unit]
Description=TemerCoin daemon serivce
After=network.target

[Service]
Type=simple
User=TemerCoin
ExecStart=/opt/TemerCoin/TemerCoind

[Install]
WantedBy=multi-user.target
